/Results/
/Tests/
/Doc/
/Code/.idea/
/Code/boris_test/
/Code/build/
/Code/chromedriver/113/
/Code/chromedriver/chromedriver-win32_119/
/Code/chromedriver/chromedriver-win64_119/
/Code/chromedriver/Version 96.0.4664.45/
/Code/chromedriver/Version 104.0.5112.101/
/Code/chromedriver/Version 107.0.5304.62/
/Code/chromedriver/Version 110.0.5481.30/
/Code/chromedriver/Version 113.0.5672.63/
/Code/chromedriver/Version 120.0.6099.72/
/Code/dist/
/FromUS/
/Setup/Auto Test Doc.lnk
/Setup/docx.zip
/Setup/Postman-win64-Setup.exe
/Setup/pycharm-community-2023.2.5.exe
/Setup/Python310.rar
/Setup/RunAT.bat - Shortcut.lnk
/Setup/Setting_OldB4Foldercahne.txt
/swagger/
/Code/AutoTestRestAPI_Mini.py
/Code/C2Vissue.jpg
/Code/hello_button.spec
/Code/hello_world.json
/Code/hello_world.yml
/Code/MainAutoTest.spec
/Code/multiprocess.py
/Code/six.py
/Code/testImage.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/swagger.json
/Thumbs.db
/.idea/vcs.xml
